<!-- <div class="body">
 <nav class="navbar">
    <div class="main-content-wrapper">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
</nav> -->
<nav class="navbar navbar-dark">
  <label class="bar">Login Example</label>  
  <!-- Container wrapper -->
  <div class="container-fluid">    
    <div class="sidebar"> 
      <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
      </label>
      <div id="sidebarMenu">
            <div class="main-content-wrapper">               
                <a href="#contact">Contact</a>
                <a href="#admin" routerLink="/admin">Admin</a>
                <a ng-click="logout()" href="#logout">Logout</a>
            </div>
        </div>
    </div>         
  </div>
</nav>
<!-- <p>Welcome {{ this._authService.CurrentUser.Name  }}</p> -->